body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:60px;
  width:730px;
  height:600px;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:186px;
  width:726px;
  word-wrap:break-word;
}
