body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1036px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:12px;
  top:0px;
  width:1024px;
  height:1000px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1000px;
}
#u1 {
  position:absolute;
  left:2px;
  top:492px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:12px;
  top:80px;
  width:1024px;
  height:35px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:35px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:275px;
  top:91px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:352px;
  top:90px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:223px;
  top:91px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:725px;
  top:91px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:794px;
  top:91px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:654px;
  top:91px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:508px;
  top:91px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:428px;
  top:91px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#FF0000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:222px;
  top:26px;
  width:128px;
  height:44px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:44px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:568px;
  top:34px;
  width:294px;
  height:36px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:36px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:640px;
  top:4px;
  width:202px;
  height:19px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:19px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:738px;
  top:32px;
  width:100px;
  height:37px;
  font-size:8px;
  color:#009900;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
}
#u27 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:583px;
  top:91px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:215px;
  top:118px;
  width:465px;
  height:594px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:594px;
}
#u31 {
  position:absolute;
  left:2px;
  top:289px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:220px;
  top:119px;
  width:207px;
  height:18px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:18px;
}
#u33 {
  position:absolute;
  left:2px;
  top:1px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:275px;
  top:118px;
  width:153px;
  height:20px;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:149px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:222px;
  top:147px;
  width:148px;
  height:33px;
  color:#FF0000;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:33px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:665px;
  top:140px;
  width:174px;
  height:130px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:130px;
}
#u39 {
  position:absolute;
  left:2px;
  top:57px;
  width:170px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:665px;
  top:300px;
  width:174px;
  height:280px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:280px;
}
#u41 {
  position:absolute;
  left:2px;
  top:132px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:670px;
  top:307px;
  width:85px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:415px;
  top:843px;
  width:218px;
  height:37px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:37px;
}
#u45 {
  position:absolute;
  left:2px;
  top:10px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:12px;
  top:900px;
  width:1024px;
  height:100px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:100px;
}
#u47 {
  position:absolute;
  left:2px;
  top:42px;
  width:1020px;
  word-wrap:break-word;
}
