body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:70px;
  width:820px;
  height:440px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:440px;
}
#u1 {
  position:absolute;
  left:2px;
  top:132px;
  width:816px;
  word-wrap:break-word;
}
